@charset "UTF-8";
/* MODO CLARO */
body.light-mode {
  background-color: #f5f5f5; }
  body.light-mode nav .btn-nav-container .btn-nav {
    color: #000;
    background: linear-gradient(90deg, #999999, #999999, #999999, #999999); }
    body.light-mode nav .btn-nav-container .btn-nav:before {
      background: #d7d7d7; }
  body.light-mode .main-container .form .input-container {
    background: linear-gradient(135deg, #d7d7d7 0%, #999999 100%);
    box-shadow: 2px 2px 5px #d7d7d7, -2px -2px 15px #d7d7d7; }
    body.light-mode .main-container .form .input-container .input-form {
      background: #d7d7d7;
      box-shadow: inset 1px 1px 2px #d7d7d7, inset -1px -1px 2px #999999, 0px 0px 20px #d7d7d7, 0px 0px 20px #d7d7d7;
      color: #000; }
      body.light-mode .main-container .form .input-container .input-form:focus {
        border: 1px solid #999999;
        box-shadow: inset 0px 0px 2px #d7d7d7, inset 0px 0px 2px #d7d7d7, 0px 0px 25px #d7d7d7, 0px 0px 25px #d7d7d7; }
  body.light-mode .main-container .form .btn-container .btn-input {
    background: #d7d7d7;
    box-shadow: 0px 0px 5px #999999, 0px 0px 5px #999999;
    color: #000; }
    body.light-mode .main-container .form .btn-container .btn-input:hover {
      background: linear-gradient(135deg, #999999 5%, #d7d7d7 100%);
      box-shadow: 0px 0px 15px #d7d7d7, 0px 0px 15px #d7d7d7; }
  body.light-mode .main-container .numbers-container {
    box-shadow: inset 1px 1px 5px #d7d7d7, inset -1px -1px 2px #d7d7d7, 0px 0px 20px #d7d7d7, 0px 0px 20px #f5f5f5; }
    body.light-mode .main-container .numbers-container .numbers {
      color: #000; }
      body.light-mode .main-container .numbers-container .numbers .numbers-space {
        background-color: #d7d7d7;
        border: 1px solid #d7d7d7;
        box-shadow: 2px 2px 3px #f5f5f5, 1px 1px 2px #999999; }
    body.light-mode .main-container .numbers-container .arrows {
      color: #d7d7d7; }
      body.light-mode .main-container .numbers-container .arrows .fa-arrow-down {
        color: #fff; }
      body.light-mode .main-container .numbers-container .arrows .fa-arrow-up {
        color: #fff; }
      body.light-mode .main-container .numbers-container .arrows .fa-check {
        color: #fff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #0e1013; }

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 30px; }
  nav .btn-nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px; }
    nav .btn-nav-container .btn-nav {
      text-decoration: none;
      position: relative;
      border: none;
      font-size: 18px;
      font-weight: 500;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      cursor: pointer;
      color: #fff;
      width: 9em;
      height: 3em;
      line-height: 2em;
      text-align: center;
      background: linear-gradient(90deg, #ff6600, #ff6600, #0e1013, #ff6600);
      background-size: 300%;
      border-radius: 30px;
      z-index: 1; }
      nav .btn-nav-container .btn-nav:before {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        z-index: -1;
        background: linear-gradient(90deg, #383e4b, #23272F, #383e4b, #383e4b);
        background-size: 400%;
        border-radius: 35px;
        transition: 0.6s; }
    nav .btn-nav-container .btn-nav:hover::before {
      filter: blur(15px); }

.howToPlay-container {
  display: flex;
  flex-direction: column;
  background-color: #383e4b;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px; }
  .howToPlay-container .sweetAlert-title {
    margin-top: 30px;
    margin-bottom: 10px;
    color: #fff; }
  .howToPlay-container .sweetAlert-text {
    margin-bottom: 15px;
    color: #ffffffa0; }
    .howToPlay-container .sweetAlert-text .fa-arrow-up {
      background-color: lime;
      box-shadow: 1px 1px 5px #00dc00;
      padding: 8px;
      border-radius: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: #0c0c0c; }
    .howToPlay-container .sweetAlert-text .fa-arrow-down {
      background-color: red;
      box-shadow: 1px 1px 5px #dc0000;
      padding: 8px;
      border-radius: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: #0c0c0c; }

.statistics-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 30px;
  background-color: #383e4b;
  border-radius: 10px; }
  .statistics-container .statistics {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
    font-weight: 600;
    color: #ffffffa0;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px; }
    .statistics-container .statistics .statistics-number {
      color: #ffffffa0;
      font-size: 17px;
      font-weight: 500px;
      padding-top: 10px; }

.configuration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #383e4b;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px; }
  .configuration-container .sweetAlert-title {
    margin: 30px;
    color: #fff; }

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 110px; }
  .main-container .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    justify-content: center; }
    .main-container .form .input-container {
      display: flex;
      background: #fff;
      border-radius: 1rem;
      background: linear-gradient(135deg, #23272F 0%, #383e4b 100%);
      box-shadow: 2px 2px 5px #23272F, -2px -2px 15px #23272F;
      padding: 0.3rem;
      gap: 0.3rem;
      margin-bottom: 10px;
      height: 80px;
      width: 280px; }
      .main-container .form .input-container .input-form {
        border-radius: 0.8rem;
        background: #23272F;
        box-shadow: inset 1px 1px 2px #23272F, inset -1px -1px 2px #383e4b, 0px 0px 20px #23272F, 0px 0px 20px #23272F;
        width: 100%;
        padding: 1rem;
        border: none;
        border: 1px solid transparent;
        color: #fff;
        font-size: 20px;
        text-align: center;
        font-weight: 700;
        transition: all 0.2s ease-in-out; }
        .main-container .form .input-container .input-form:focus {
          border: 1px solid #383e4b;
          outline: none;
          box-shadow: inset 0px 0px 2px #23272F, inset 0px 0px 2px #23272F, 0px 0px 25px #23272F, 0px 0px 25px #23272F; }
    .main-container .form .btn-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px; }
      .main-container .form .btn-container .btn-input {
        padding: 1rem;
        background: #23272F;
        box-shadow: 0px 0px 5px #383e4b, 0px 0px 5px #383e4b;
        font-weight: 900;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        color: #fff;
        border: none;
        width: 100%;
        border-radius: 0.8rem;
        transition: all 0.2s ease-in-out;
        cursor: pointer; }
        .main-container .form .btn-container .btn-input:hover {
          background: linear-gradient(135deg, #383e4b 5%, #0c0c0c 100%);
          box-shadow: 0px 0px 15px #23272F, 0px 0px 15px #23272F; }
  .main-container .numbers-container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    gap: 5px;
    margin-top: 40px;
    height: 180px;
    width: 470px;
    box-shadow: inset 1px 1px 5px #23272F, inset -1px -1px 2px #23272F, 0px 0px 20px #23272F, 0px 0px 20px #0e1013; }
    .main-container .numbers-container .numbers {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: #fff;
      font-size: 40px;
      margin-top: 25px; }
      .main-container .numbers-container .numbers .numbers-space {
        margin-left: 16px;
        margin-right: 16px;
        background-color: #23272F;
        border: 1px solid #23272F;
        outline: none;
        box-shadow: 2px 2px 3px #0e1013, 1px 1px 2px #383e4b;
        padding: 8px;
        border-radius: 10px; }
    .main-container .numbers-container .arrows {
      display: flex;
      flex-direction: row;
      justify-content: center;
      color: #23272F;
      font-size: 30px; }
      .main-container .numbers-container .arrows .arrows-space {
        margin-left: 25.8px;
        margin-right: 25.8px; }
      .main-container .numbers-container .arrows .fa-arrow-down {
        background-color: red;
        box-shadow: 1px 1px 5px #dc0000;
        padding: 8px;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #0c0c0c; }
      .main-container .numbers-container .arrows .fa-arrow-up {
        background-color: lime;
        box-shadow: 1px 1px 5px #00dc00;
        padding: 8px;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #0c0c0c; }
      .main-container .numbers-container .arrows .fa-check {
        font-size: 25px;
        background-color: #ff6600;
        box-shadow: 1px 1px 5px #dc4800;
        padding: 8px;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #0c0c0c; }
  .main-container .switch-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding-right: 15px;
    padding-top: 20px; }
    .main-container .switch-container .switch {
      position: relative;
      width: 130px;
      height: 50px;
      margin: 0px;
      appearance: none;
      -webkit-appearance: none;
      background-color: #043449;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 25px;
      transition: background-image .7s ease-in-out;
      outline: none;
      cursor: pointer;
      overflow: hidden; }
      .main-container .switch-container .switch:checked {
        background-color: #00c3ff;
        background-size: cover;
        transition: background-image 1s ease-in-out; }
      .main-container .switch-container .switch:after {
        content: '';
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        left: 2px;
        top: 2px;
        transform: translateX(0px);
        animation: off 0.7s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
        box-shadow: inset 5px -5px 4px rgba(53, 53, 53, 0.3); }

@keyframes off {
  0% {
    transform: translateX(80px);
    width: 46px; }
  50% {
    width: 75px;
    border-radius: 25px; }
  100% {
    transform: translateX(0px);
    width: 46px; } }
      .main-container .switch-container .switch:checked:after {
        animation: on 0.7s forwards cubic-bezier(0.8, 0.5, 0.2, 1.4);
        box-shadow: inset -5px -5px 4px rgba(53, 53, 53, 0.3); }

@keyframes on {
  0% {
    transform: translateX(0px);
    width: 46px; }
  50% {
    width: 75px;
    border-radius: 25px; }
  100% {
    transform: translateX(80px);
    width: 46px; } }
      .main-container .switch-container .switch:checked:before {
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: absolute;
        left: 15px;
        top: 5px;
        transform-origin: 53px 10px;
        background-color: transparent;
        box-shadow: 5px -1px 0px #fff;
        filter: blur(0px);
        animation: sun .7s forwards ease; }

@keyframes sun {
  0% {
    transform: rotate(170deg);
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px); }
  50% {
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px); }
  90% {
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4, 0px 0px 20px #f5deb4, 0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3;
    filter: blur(1px); }
  100% {
    transform: rotate(0deg);
    background-color: #f5daaa;
    box-shadow: 0px 0px 10px #f5deb4, 0px 0px 20px #f5deb4, 0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3;
    filter: blur(1px); } }
      .main-container .switch-container .switch:before {
        content: '';
        width: 15px;
        height: 15px;
        border-radius: 50%;
        position: absolute;
        left: 15px;
        top: 5px;
        filter: blur(1px);
        background-color: #f5daaa;
        box-shadow: 0px 0px 10px #f5deb4, 0px 0px 20px #f5deb4, 0px 0px 30px #f5deb4, inset 0px 0px 2px #efd3a3;
        transform-origin: 53px 10px;
        animation: moon .7s forwards ease; }

@keyframes moon {
  0% {
    transform: rotate(0deg);
    filter: blur(1px); }
  50% {
    filter: blur(1px); }
  90% {
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px); }
  100% {
    transform: rotate(170deg);
    background-color: transparent;
    box-shadow: 5px -1px 0px #fff;
    filter: blur(0px); } }

/* Ocultar las flechas de incremento y decremento en campos de entrada numéricos */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.toast {
  font-size: 16px; }

/* -------------------- MEDIA QUERY -------------------- */
@media only screen and (max-width: 600px) {
  nav {
    margin-top: 30px; }
    nav .btn-nav-container {
      gap: 20px; }
      nav .btn-nav-container .btn-nav {
        font-size: 16px; }
  .howToPlay-container {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px; }
    .howToPlay-container .sweetAlert-title {
      font-size: 18px;
      margin-top: 20px;
      margin-bottom: 5px; }
    .howToPlay-container .sweetAlert-text {
      font-size: 16px;
      margin-bottom: 10px; }
      .howToPlay-container .sweetAlert-text .fa-arrow-up {
        box-shadow: 0.5px 0.5px 2px #00dc00;
        padding: 6px;
        border-radius: 6px;
        margin-top: 5px;
        margin-bottom: 5px; }
      .howToPlay-container .sweetAlert-text .fa-arrow-down {
        box-shadow: 0.5px 0.5px 2px #dc0000;
        padding: 6px;
        border-radius: 6px;
        margin-top: 5px;
        margin-bottom: 5px; }
  .statistics-container {
    gap: 30px;
    padding-top: 15px;
    border-radius: 8px; }
    .statistics-container .statistics {
      font-size: 18px;
      font-weight: 600; }
      .statistics-container .statistics .statistics-number {
        font-size: 16px;
        font-weight: 500px;
        padding-top: 9px; }
  .configuration-container {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px; }
    .configuration-container .sweetAlert-title {
      font-size: 22px;
      margin: 20px; }
  .main-container {
    margin-top: 80px; }
    .main-container .form {
      gap: 10px; }
      .main-container .form .input-container {
        border-radius: 1rem;
        box-shadow: 2px 2px 5px #23272F, -2px -2px 15px #23272F;
        padding: 0.3rem;
        gap: 0.3rem;
        margin-bottom: 10px;
        height: 80px;
        width: 280px; }
        .main-container .form .input-container .input-form {
          border-radius: 0.7rem;
          box-shadow: inset 0.5px 0.5px 1px #23272F, inset -0.5px -0.5px 1px #383e4b, 0px 0px 15px #23272F, 0px 0px 15px #23272F;
          padding: 0.8rem;
          border: 0.8px solid transparent;
          font-size: 20px;
          font-weight: 700; }
          .main-container .form .input-container .input-form:focus {
            border: 0.5px solid #383e4b;
            box-shadow: inset 0px 0px 1px #23272F, inset 0px 0px 1px #23272F, 0px 0px 20px #23272F, 0px 0px 20px #23272F; }
      .main-container .form .btn-container {
        gap: 15px; }
        .main-container .form .btn-container .btn-input {
          padding: 0.8rem;
          box-shadow: 0px 0px 3px #383e4b, 0px 0px 3px #383e4b;
          font-weight: 900;
          letter-spacing: 0.2rem;
          border-radius: 0.7rem; }
          .main-container .form .btn-container .btn-input:hover {
            box-shadow: 0px 0px 10px #23272F, 0px 0px 10px #23272F; }
    .main-container .numbers-container {
      border-radius: 8px;
      gap: 4px;
      margin-top: 50px;
      height: 180px;
      width: 470px;
      box-shadow: inset 1px 1px 5px #23272F, inset -1px -1px 2px #23272F, 0px 0px 20px #23272F, 0px 0px 20px #0e1013; }
      .main-container .numbers-container .numbers {
        font-size: 40px;
        margin-top: 25px; }
        .main-container .numbers-container .numbers .numbers-space {
          margin-left: 16px;
          margin-right: 16px;
          border: 1px solid #23272F;
          box-shadow: 2px 2px 3px #0e1013, 1px 1px 2px #383e4b;
          padding: 8px;
          border-radius: 10px; }
      .main-container .numbers-container .arrows {
        font-size: 30px; }
        .main-container .numbers-container .arrows .arrows-space {
          margin-left: 25.8px;
          margin-right: 25.8px; }
        .main-container .numbers-container .arrows .fa-arrow-down {
          box-shadow: 1px 1px 5px #dc0000;
          padding: 8px;
          border-radius: 10px;
          margin-top: 10px;
          margin-bottom: 10px; }
        .main-container .numbers-container .arrows .fa-arrow-up {
          box-shadow: 1px 1px 5px #00dc00;
          padding: 8px;
          border-radius: 10px;
          margin-top: 10px;
          margin-bottom: 10px; }
        .main-container .numbers-container .arrows .fa-check {
          font-size: 25px;
          box-shadow: 1px 1px 5px #dc4800;
          padding: 8px;
          border-radius: 10px;
          margin-top: 10px;
          margin-bottom: 10px; }
    .main-container .switch-container {
      margin-top: 20px;
      flex-direction: column;
      align-items: center; } }

@media only screen and (max-width: 500px) {
  nav {
    margin-top: 20px; }
    nav .btn-nav-container {
      flex-direction: column;
      gap: 30px; }
      nav .btn-nav-container .btn-nav {
        font-size: 16px; }
  .main-container {
    margin-top: 60px; }
    .main-container .form {
      gap: 10px; }
      .main-container .form .input-container {
        border-radius: 0.8rem;
        box-shadow: 1px 1px 2px #23272F, -1px -1px 10px #23272F;
        padding: 0.2rem;
        gap: 0.2rem;
        margin-bottom: 8px;
        height: 70px;
        width: 260px; }
        .main-container .form .input-container .input-form {
          border-radius: 0.5rem;
          box-shadow: inset 0.3px 0.3px 0.5px #23272F, inset -0.2px -0.2px 0.5px #383e4b, 0px 0px 10px #23272F, 0px 0px 10px #23272F;
          padding: 0.6rem;
          border: 0.6px solid transparent;
          font-size: 18px;
          font-weight: 700; }
          .main-container .form .input-container .input-form:focus {
            border: 0.3px solid #383e4b;
            box-shadow: inset 0px 0px 0.5px #23272F, inset 0px 0px 0.5px #23272F, 0px 0px 15px #23272F, 0px 0px 15px #23272F; }
      .main-container .form .btn-container {
        gap: 13px; }
        .main-container .form .btn-container .btn-input {
          padding: 0.6rem;
          box-shadow: 0px 0px 2px #383e4b, 0px 0px 2px #383e4b;
          font-weight: 900;
          font-size: 12px;
          letter-spacing: 0.2rem;
          border-radius: 0.6rem; }
          .main-container .form .btn-container .btn-input:hover {
            box-shadow: 0px 0px 8px #23272F, 0px 0px 8px #23272F; }
    .main-container .numbers-container {
      border-radius: 10px;
      margin-top: 40px;
      height: 120px;
      width: 300px;
      box-shadow: inset 1px 1px 5px #23272F, inset -1px -1px 2px #23272F, 0px 0px 20px #23272F, 0px 0px 20px #0e1013; }
      .main-container .numbers-container .numbers {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #fff;
        font-size: 20px;
        margin-top: 16px; }
        .main-container .numbers-container .numbers .numbers-space {
          margin-left: 7px;
          margin-right: 7px;
          background-color: #23272F;
          border: 1px solid #23272F;
          outline: none;
          box-shadow: 2px 2px 3px #0e1013, 1px 1px 2px #383e4b;
          padding: 8px;
          border-radius: 10px; }
      .main-container .numbers-container .arrows {
        display: flex;
        flex-direction: row;
        justify-content: center;
        color: #23272F;
        font-size: 13px; }
        .main-container .numbers-container .arrows .arrows-space {
          margin-left: 14.3px;
          margin-right: 14.3px; }
        .main-container .numbers-container .arrows .fa-arrow-down {
          background-color: red;
          box-shadow: 1px 1px 5px #dc0000;
          padding: 8px;
          border-radius: 10px;
          margin-top: 10px;
          margin-bottom: 10px;
          color: #0c0c0c; }
        .main-container .numbers-container .arrows .fa-arrow-up {
          background-color: lime;
          box-shadow: 1px 1px 5px #00dc00;
          padding: 8px;
          border-radius: 10px;
          margin-top: 10px;
          margin-bottom: 10px;
          color: #0c0c0c; }
        .main-container .numbers-container .arrows .fa-check {
          font-size: 15px;
          background-color: #ff6600;
          box-shadow: 1px 1px 5px #dc4800;
          padding: 8px;
          border-radius: 10px;
          margin-top: 10px;
          margin-bottom: 10px;
          color: #0c0c0c; }
    .main-container .switch-container {
      margin-top: 20px;
      flex-direction: column;
      align-items: center; }
  .toast {
    font-size: 12px; } }
