.howToPlay-container {
    display: flex;
    flex-direction: column;
    background-color: $colour-button;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    .sweetAlert-title {
        margin-top: 30px;
        margin-bottom: 10px;
        color: $colour-secondary;
    }
    .sweetAlert-text {
        margin-bottom: 15px;
        color: $colour-text;
        .fa-arrow-up {
            background-color: $colour-arrowUp;
            box-shadow: 1px 1px 5px $colour-arrowUp-shadow;
            padding: 8px;
            border-radius: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            color: $colour-arrow;
        }
        .fa-arrow-down {
            background-color: $colour-arrowDown;
            box-shadow: 1px 1px 5px $colour-arrowDown-shadow;
            padding: 8px;
            border-radius: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            color: $colour-arrow;
        }
    }
}