* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-main;
}

/* Ocultar las flechas de incremento y decremento en campos de entrada numéricos */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

