body.light-mode {
    background-color: $background-main-light;
    nav {
        .btn-nav-container {
            .btn-nav {
                color: $colour-secondary-light;
                background: linear-gradient(90deg, $colour-button-light, $colour-button-light, $colour-button-light, $colour-button-light);
                &:before {
                    background: $colour-main-light;
                }
            }
        }
    }
    .main-container {
        .form {
            .input-container {
                background: linear-gradient(135deg, $colour-main-light 0%, $colour-button-light 100%);
                box-shadow: 2px 2px 5px $colour-main-light, -2px -2px 15px $colour-main-light;
                .input-form {
                    background: $colour-main-light;
                    box-shadow: inset 1px 1px 2px $colour-main-light, inset -1px -1px 2px $colour-button-light, 0px 0px 20px $colour-main-light, 0px 0px 20px $colour-main-light;
                    color: $colour-secondary-light;
                    &:focus {
                        border: 1px solid $colour-button-light;
                        box-shadow: inset 0px 0px 2px $colour-main-light, inset 0px 0px 2px $colour-main-light, 0px 0px 25px $colour-main-light, 0px 0px 25px $colour-main-light;
                    }
                }
            }
            .btn-container {
                .btn-input {
                    background: $colour-main-light;
                    box-shadow: 0px 0px 5px $colour-button-light, 0px 0px 5px $colour-button-light;
                    color: $colour-secondary-light;
                    &:hover {
                        background: linear-gradient(135deg, $colour-button-light 5%, $colour-main-light 100%);
                        box-shadow: 0px 0px 15px $colour-main-light, 0px 0px 15px $colour-main-light;
                    }
                }
            }
        }
        .numbers-container {
            box-shadow: inset 1px 1px 5px $colour-main-light, inset -1px -1px 2px $colour-main-light, 0px 0px 20px $colour-main-light, 0px 0px 20px $background-main-light;
            .numbers {
                color: $colour-secondary-light;
                .numbers-space {
                    background-color: $colour-main-light;
                    border: 1px solid $colour-main-light;
                    box-shadow: 2px 2px 3px $background-main-light, 1px 1px 2px $colour-button-light;
                }
            }
            .arrows {
                color: $colour-main-light;
                .fa-arrow-down {
                    color: $colour-secondary;
                }
                .fa-arrow-up {
                    color: $colour-secondary;
                }
                .fa-check {
                    color: $colour-secondary;
                }
            }
        }
    }
}